<div class="col-md-12">
    <div class="form-group select-month">
        <label for="month">Mês:</label>
        <select id="month" class="form-control" (change)="changeMonth(month)" [(ngModel)]="month" >
            <option *ngFor="let month of getMonths(); index as i" value="{{ i }}">{{ month }}</option>
        </select>
    </div>
</div>
<div id="tables-info" class="col-md-12 panel panel-default">
    <div class="panel-body">
        <div class="col-md-2 form panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label for="type">Tipo</label>
                    <select id="type" class="form-control" [(ngModel)]="lancamento.type" >
                        <option value="0">Receita</option>
                        <option value="1">Despesa</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data">Data</label>
                    <input type="date" id="data" class="form-control" [(ngModel)]="lancamento.emissao" >
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input type="text" id="descricao" class="form-control" placeholder="Descrição" [(ngModel)]="lancamento.descricao" >
                </div>
                <div class="form-group">
                    <label for="valor">Valor</label>
                    <input type="number" id="valor" class="form-control" placeholder="Valor" [(ngModel)]="lancamento.valor" >
                </div>
                <button type="button" class="btn btn-primary pull-right" (click)="addLancamento()" >Inserir</button>
            </div>
        </div>

        <div class="col-md-5">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h5>Despesas</h5>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-condensed">
                        <tbody>
                            <tr *ngFor="let lancamento of getDespesas()">
                                <td>{{ lancamento.emissao | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ lancamento.descricao | uppercase }}</td>
                                <td>{{ lancamento.valor | currency: 'R$'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5>Receitas</h5>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-condensed">
                        <tbody>
                            <tr *ngFor="let lancamento of getReceitas()">
                                <td>{{ lancamento.emissao | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ lancamento.descricao | uppercase }}</td>
                                <td>{{ lancamento.valor | currency: 'R$'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <table id="table-receita" class="table table-hover table-condensed">
            <thead>
                <th>Jan</th>
                <th>Fev</th>
                <th>Mar</th>
                <th>Abr</th>
                <th>Mai</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Ago</th>
                <th>Set</th>
                <th>Out</th>
                <th>Nov</th>
                <th>Dez</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ getTotalOfMonthAndType(0, 0) | currency: 'R$' }}</td>
                    <td>{{ getTotalOfMonthAndType(1, 0) | currency: 'R$' }}</td>
                    <td>{{ getTotalOfMonthAndType(2, 0) | currency: 'R$' }}</td>
                    <td>{{ getTotalOfMonthAndType(3, 0) | currency: 'R$' }}</td>
                    <td>{{ getTotalOfMonthAndType(4, 0) | currency: 'R$' }}</td>
                    <td>{{ getTotalOfMonthAndType(5, 0) | currency: 'R$' }}</td>
                    <td>{{ getTotalOfMonthAndType(6, 0) | currency: 'R$' }}</td>
                    <td>{{ getTotalOfMonthAndType(7, 0) | currency: 'R$' }}</td>
                    <td>{{ getTotalOfMonthAndType(8, 0) | currency: 'R$' }}</td>
                    <td>{{ getTotalOfMonthAndType(9, 0) | currency: 'R$' }}</td>
                    <td>{{ getTotalOfMonthAndType(10, 0) | currency: 'R$' }}</td>
                    <td>{{ getTotalOfMonthAndType(11, 0) | currency: 'R$' }}</td>
                    <td>{{ getTotalRevenue() | currency: 'R$' }}</td>
                </tr>
            </tbody>
        </table>
    <table id="table-despesa" class="table table-hover table-condensed">
        <thead>
            <th>Jan</th>
            <th>Fev</th>
            <th>Mar</th>
            <th>Abr</th>
            <th>Mai</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Ago</th>
            <th>Set</th>
            <th>Out</th>
            <th>Nov</th>
            <th>Dez</th>
            <th>Total</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ getTotalOfMonthAndType(0, 1) | currency: 'R$' }}</td>
                <td>{{ getTotalOfMonthAndType(1, 1) | currency: 'R$' }}</td>
                <td>{{ getTotalOfMonthAndType(2, 1) | currency: 'R$' }}</td>
                <td>{{ getTotalOfMonthAndType(3, 1) | currency: 'R$' }}</td>
                <td>{{ getTotalOfMonthAndType(4, 1) | currency: 'R$' }}</td>
                <td>{{ getTotalOfMonthAndType(5, 1) | currency: 'R$' }}</td>
                <td>{{ getTotalOfMonthAndType(6, 1) | currency: 'R$' }}</td>
                <td>{{ getTotalOfMonthAndType(7, 1) | currency: 'R$' }}</td>
                <td>{{ getTotalOfMonthAndType(8, 1) | currency: 'R$' }}</td>
                <td>{{ getTotalOfMonthAndType(9, 1) | currency: 'R$' }}</td>
                <td>{{ getTotalOfMonthAndType(10, 1) | currency: 'R$' }}</td>
                <td>{{ getTotalOfMonthAndType(11, 1) | currency: 'R$' }}</td>
                <td>{{ getTotalExpense() | currency: 'R$' }}</td>
            </tr>
        </tbody>
    </table>
</div>